# Golang tools artifacts
**/*.test
coverage.out
test-report.json

# Executables and test outputs
cmd/goa/goa

# Editor / IDEs cruft
.idea/
*.iml
.vscode/
*~
*.orig
*.swp

# DeepSource cruft
cover.out
bin/
