language: go
go:
- 1.4.3
- 1.5.3
- tip
matrix:
  allow_failures:
    - go: tip
sudo: false
install:
- go get -v ./...
- export PATH=$PATH:$HOME/gopath/bin
script:
- make
- make docs
notifications:
  slack:
    secure: bMYXaoSEGoNdqR0t1VnMAv/4V9PSOhEWyekdJM7p9WmKjJi2yKy0k77uRmwf+5Mrz5GLs3CkZnDha/8cSFld3KEN9SC6QYmIBF/1Pd/5mKHFQOI81i7sTlhrdMv897+6sofEtbBNq1jffhVGVttbMrMWwCTNZu0NrCGBVsDmb44=
deploy:
  provider: gcs
  access_key_id: GOOGDIIIVPY7O6DG3PSZ
  secret_access_key:
    secure: JRgLO+aCMRgMEQHujG9Xjxez6CmTiSxE14dNGc+iG16jcgUjmRnyY1adNcp/gxzmi274qRC8OYT10+NVNVRl4lK7HTtCcWuCWOI3N1o77RZqNA+e2k4GrNrsAmfnlbUu2Eg8XCrlQfctwJmN6058oQ8r/hdq36JUk0xDPgA8hws=
  bucket: artifacts.goa.design
  local-dir: public/reference/goa
  upload-dir: reference/goa
  skip-cleanup: true
  acl: public-read
  cache-control: no-cache
  on:
    repo: goadesign/goa
