swagger: "2.0"
info:
  title: Chatter service describing the streaming features of goa v2.
  version: ""
host: localhost:80
consumes:
- application/json
- application/xml
- application/gob
produces:
- application/json
- application/xml
- application/gob
paths:
  /echoer:
    get:
      tags:
      - chatter
      summary: echoer chatter
      description: |-
        Echoes the message sent by the client.

        Required security scopes:
          * `stream:write`
      operationId: chatter#echoer
      parameters:
      - name: Authorization
        in: header
        description: JWT used for authentication
        required: true
        type: string
      responses:
        "101":
          description: Switching Protocols response.
          schema:
            type: string
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/ChatterEchoerUnauthorizedResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/ChatterEchoerInvalidScopesResponseBody'
      schemes:
      - grpc
      - ws
      security:
      - jwt: []
  /history:
    get:
      tags:
      - chatter
      summary: history chatter
      description: |-
        Returns the chat messages sent to the server.

        Required security scopes:
          * `stream:read`
      operationId: chatter#history
      parameters:
      - name: view
        in: query
        description: View to use to render the result
        required: false
        type: string
      - name: Authorization
        in: header
        description: JWT used for authentication
        required: true
        type: string
      responses:
        "101":
          description: Switching Protocols response.
          schema:
            $ref: '#/definitions/ChatterHistoryResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/ChatterHistoryUnauthorizedResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/ChatterHistoryInvalidScopesResponseBody'
      schemes:
      - grpc
      - ws
      security:
      - jwt: []
  /listener:
    get:
      tags:
      - chatter
      summary: listener chatter
      description: |-
        Listens to the messages sent by the client.

        Required security scopes:
          * `stream:write`
      operationId: chatter#listener
      parameters:
      - name: Authorization
        in: header
        description: JWT used for authentication
        required: true
        type: string
      responses:
        "101":
          description: Switching Protocols response.
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/ChatterListenerUnauthorizedResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/ChatterListenerInvalidScopesResponseBody'
      schemes:
      - grpc
      - ws
      security:
      - jwt: []
  /login:
    post:
      tags:
      - chatter
      summary: login chatter
      description: Creates a valid JWT token for auth to chat.
      operationId: chatter#login
      responses:
        "200":
          description: OK response.
          schema:
            type: string
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/ChatterLoginUnauthorizedResponseBody'
      schemes:
      - grpc
      - http
      security:
      - basic: []
  /summary:
    get:
      tags:
      - chatter
      summary: summary chatter
      description: |-
        Summarizes the chat messages sent by the client.

        Required security scopes:
          * `stream:write`
      operationId: chatter#summary
      parameters:
      - name: Authorization
        in: header
        description: JWT used for authentication
        required: true
        type: string
      responses:
        "101":
          description: Switching Protocols response.
          schema:
            $ref: '#/definitions/ChatterChatSummaryResponseCollection'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/ChatterSummaryUnauthorizedResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/ChatterSummaryInvalidScopesResponseBody'
      schemes:
      - grpc
      - ws
      security:
      - jwt: []
definitions:
  ChatSummaryResponse:
    title: 'Mediatype identifier: application/vnd.goa.summary; view=default'
    type: object
    properties:
      length:
        type: integer
        description: Length of the message sent
        example: 5618411241164440223
        format: int64
      message:
        type: string
        description: Message sent to the server
        example: Reprehenderit soluta.
      sent_at:
        type: string
        description: Time at which the message was sent
        example: "2004-02-07T12:45:10Z"
        format: date-time
    description: ChatSummaryResponse result type (default view)
    example:
      length: 6568591916136365225
      message: Ea eos velit corporis mollitia.
      sent_at: "1989-07-22T11:10:20Z"
    required:
    - message
  ChatterChatSummaryResponseCollection:
    title: 'Mediatype identifier: application/vnd.goa.summary; type=collection; view=default'
    type: array
    items:
      $ref: '#/definitions/ChatSummaryResponse'
    description: SummaryResponseBody is the result type for an array of ChatSummaryResponse
      (default view)
    example:
    - length: 3915772424247758741
      message: Sequi tenetur.
      sent_at: "2009-01-25T10:15:11Z"
    - length: 3915772424247758741
      message: Sequi tenetur.
      sent_at: "2009-01-25T10:15:11Z"
    - length: 3915772424247758741
      message: Sequi tenetur.
      sent_at: "2009-01-25T10:15:11Z"
  ChatterEchoerInvalidScopesResponseBody:
    title: ChatterEchoerInvalidScopesResponseBody
    type: string
    example: Quod eos quibusdam consequatur.
  ChatterEchoerUnauthorizedResponseBody:
    title: ChatterEchoerUnauthorizedResponseBody
    type: string
    example: Ducimus consequatur sint eius.
  ChatterHistoryInvalidScopesResponseBody:
    title: ChatterHistoryInvalidScopesResponseBody
    type: string
    example: Ut cumque.
  ChatterHistoryResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.summary; view=default'
    type: object
    properties:
      length:
        type: integer
        description: Length of the message sent
        example: 4053077597143765637
        format: int64
      message:
        type: string
        description: Message sent to the server
        example: Autem et omnis.
      sent_at:
        type: string
        description: Time at which the message was sent
        example: "1983-09-21T19:35:24Z"
        format: date-time
    description: HistoryResponseBody result type (default view)
    example:
      length: 1505825914969859032
      message: Dolorum ullam.
      sent_at: "1981-08-30T02:29:03Z"
    required:
    - message
  ChatterHistoryUnauthorizedResponseBody:
    title: ChatterHistoryUnauthorizedResponseBody
    type: string
    example: Voluptatum quos hic blanditiis praesentium cum repellendus.
  ChatterListenerInvalidScopesResponseBody:
    title: ChatterListenerInvalidScopesResponseBody
    type: string
    example: Pariatur consequatur voluptas et laboriosam ipsam iure.
  ChatterListenerUnauthorizedResponseBody:
    title: ChatterListenerUnauthorizedResponseBody
    type: string
    example: Non fugit et id cum cum quisquam.
  ChatterLoginUnauthorizedResponseBody:
    title: ChatterLoginUnauthorizedResponseBody
    type: string
    description: Credentials are invalid
    example: Commodi laudantium cupiditate aut tempore quae.
  ChatterSummaryInvalidScopesResponseBody:
    title: ChatterSummaryInvalidScopesResponseBody
    type: string
    example: Quibusdam dignissimos.
  ChatterSummaryUnauthorizedResponseBody:
    title: ChatterSummaryUnauthorizedResponseBody
    type: string
    example: Nemo maxime.
securityDefinitions:
  basic:
    type: basic
    description: Secures the login endpoint.
  jwt:
    type: apiKey
    description: |-
      Secures endpoint by requiring a valid JWT token. Supports scopes "stream:read" and "stream:write".
      **Security Scopes**:
        * `stream:read`: Read-only access
        * `stream:write`: Read and write access
    name: Authorization
    in: header
