name: Run Static Checks and Tests

on:
  push:
    branches:
      - v3
  pull_request:
    branches:
      - v3

jobs:
  ci:
    strategy:
      fail-fast: true
      matrix:
        go: ['1.20', '1.21', '1.22']
        os: ['ubuntu-latest', 'windows-latest']
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Build
        run: make ci

      - name: Upload test coverage for deep source
        if: matrix.go == '1.22' && matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: cover.out
